.react-select {
  display: inline-block;
  width: 100%;
  height: auto;
  position: relative;
}

.react-select-element {
  max-height: 180px;
  padding: 3px 0;
  margin: 0;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(218, 221, 222, 0.35);
  background-color: white;
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: none;
  -webkit-tap-highlight-color: transparent;
}

.react-select-enabled {
  pointer-events: auto;
}

.react-select-trigger {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 31px;
  padding: 6px 27px 6px 6px;
  font-size: 14px;
  text-align: left;
  border: 1px solid #d3d4d4;
  background: white;
  outline: 0;
  cursor: pointer;
  position: relative;
  &, &:active {
    color: black;
  }
  * { // truncate children with ellipsis
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.react-select-trigger:active,
.react-select-trigger--active {
  border-color: #E6F9FF;
}

.react-select-trigger__option {
  user-select: none;

  & + & {
    margin-left: 6px;
  }

  .react-select-trigger--multiple & {
    padding: 0 3px;
    border-radius: 2px;
    background: #E6F9FF;
  }
}

.react-select-trigger__arrow {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.react-select-options {
  padding: 0;
  margin: 0;
  list-style: none;
}

.react-select-option {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  font-size: 14px;
  text-indent: 4px;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;
  &:hover {
    background: #DFF5FF;
  }
}

.react-select-option__label {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.react-select-optgroup {
  display: block;
  padding: 3px 0;
  cursor: default;
  &:hover {
    background: transparent;
  }
}

.react-select-optgroup__title {
  display: block;
  padding: 0 12px 4px;
  font-weight: 700;
  color: #353638;
  user-select: none;
}
